<div class="depository-wishlist">
  <div *ngIf="!isLoggedInToBookDepository; else logout" class="login">
    <button *ngIf="!isBookDepositoryLoginLoading" (click)="ngxSmartModalService.getModal('depositoryLogin').open()">Bejelentkezés ide: Book Depository</button>
    <ngx-smart-modal #depositoryLogin identifier="depositoryLogin">
      <div *ngIf="isBookDepositoryLoginLoading" class="loading">
          <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </div>
      <h1>Bejelentkezés</h1>
      <form #depositoryLoginForm="ngForm">
        <div class="form-group">
          <input
            placeholder="Email"
            type="email"
            required
            class="form-control"
            [(ngModel)]="model.email"
            name="email"
            id="email"
            #email="ngModel" />
        </div>
        <div class="form-group">
          <input
            placeholder="Book Depository jelszó"
            [type]="isShowPassword ? 'text' : 'password'"
            required
            class="form-control"
            [(ngModel)]="model.password"
            name="password"
            id="password"
            #password="ngModel" />
        </div>
        <div class="form-group">
          <label class="container">
              <span class="lead-text">Jelszó mutatása</span>
              <input
                type="checkbox"
                name="showpassword"
                id="showpassword"
                [(ngModel)]="isShowPassword"
                [ngModelOptions]="{standalone: true}"/>
              <span class="checkmark"></span>
          </label>
        </div>
        <div class="form-group">
          <button [disabled]="!depositoryLoginForm.valid" (click)="signIn()">Bejelentkezés</button>
        </div>
      </form>
    </ngx-smart-modal>
  </div>
  <ng-template #logout>
    <div class="logout">
      <p>Összekapcsolva ezzel: Book Depository</p>
      <button (click)="authActions.depositoryLogout()">Kijelentkezés</button>
    </div>
  </ng-template>
  <div *ngIf="isLoggedInToBookDepository; else notConnected" class="items">
    <div *ngIf="isLoggedInToBookDepository && !isBookDepositoryLoginLoading && !items?.length">A Book Depository kívánság lista üres</div>
    <div class="item" *ngFor="let book of items">
      <app-book-item [item]="book"></app-book-item>
    </div>
    <div *ngIf="isLoggedInToBookDepository && isBookDepositoryLoginLoading" class="loading">
        Loading
    </div>
  </div>
  <ng-template #notConnected>
    <div class="items">
        <div>Kijelentkezve a Book Depository-ból</div>
    </div>
  </ng-template>
</div>
