<nav>
  <div *ngIf="(auth | async).isLoggedIn" class="logged-in-nav">
    <ul>
      <li><a class="navlink" routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a class="navlink" routerLink="/search" routerLinkActive="active">Search</a></li>
      <li><a class="navlink" routerLink="/wishlist" routerLinkActive="active">Wishlist</a></li>
    </ul>
    <div class="profile">
      <div class="username">{{ (auth | async)?.currentUser.name }}</div>
      <div (click)="userProfileClicked = !userProfileClicked" class="image"><img [src]="(auth | async)?.currentUser.imageUrl" alt="Profile picture" /></div>
      <div  *ngIf="userProfileClicked" class="logout-button">
        <button (click)="logout()">Log out</button>
      </div>
    </div>
  </div>
  <ng-template>
    <div class="simple-nav">
      Simple nav
    </div>
  </ng-template>
</nav>
