nav {
    display: flex;
    justify-content: space-between;
}

.profile {
    display: flex;
    align-items: center;

    .image {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        overflow: hidden;
    
        img {
            max-width: 100%;
            height: auto;
        }
    }

    .email {
        margin-right: 16px;
    }
}
