<div class="home">
  <h1>Uniscrape</h1>
  <p>Welcome, {{ (auth | async)?.currentUser.name }}</p>
  <div class="sections" *ngIf="(home | async).sectionNames?.length">
    <section *ngFor="let name of (home | async)?.sectionNames">
      <h2>{{ name }}</h2>
      <div class="carousel-wrapper">
        <ul *ngIf="(getBookItemsFor(name) | async).length; else placeholder" [attr.data-name]="name">
          <li *ngFor="let book of (getBookItemsFor(name) | async)">
            <div class="image-wrapper">
              <img [src]="book.image" [alt]="book.title">
            </div>
            <h3>{{ book.title }}</h3>
            <div>ISBN: {{ book.ISBN }}</div>
            <div *ngIf="book.author">Author: <a [href]="'https://www.bookdepository.com' + book.author.url" target="_blank">{{ book.author.name }}</a></div>
            <div>Price: {{ book.currentPrice === -1 ? '-' : book.currentPrice }} Ft</div>
            <div>Published: {{ book.published | date : 'yyyy.MM.dd.' }}</div>
          </li>
        </ul>
        <button class="prev" (click)="prev(name)"><i class="fas fa-chevron-left"></i></button>
        <button class="next" (click)="next(name)"><i class="fas fa-chevron-right"></i></button>
        <ng-template #placeholder>
          <ul [attr.data-name]="name">
            <li class="placeholder" *ngFor="let placeholder of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
              <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </li>
          </ul>
        </ng-template>
      </div>
    </section>
  </div>
</div>
