#search {
    width: 80%;
    margin: 16px auto;
    display: block;
    height: 48px;
    font-size: 1.2em;
    padding-left: 16px;

    & + button {
        position: absolute;
        top: 0;
        right: calc(10% - 8px);
        bottom: 0;
        width: 48px;
        border: none;
        background: none;
        font-size: 1em;

        &:focus {
            border: none;
            outline: none;
        }
    }
}
