<div class="book-item">
  <button (click)="toggleWishlist()" class="wishlist">
    <span *ngIf="item?.isOnWishlist; else bookmarkFull">
      <i class="fas fa-bookmark"></i>
    </span>
    <ng-template #bookmarkFull>
      <span><i class="far fa-bookmark"></i></span>
    </ng-template>
  </button>
  <a target="_blank" class="itemURL" [href]="itemURL">
    <div class="img-wrapper">
      <img [src]="item.image" [alt]="item.title" />
    </div>
  </a>
  <a target="_blank" class="itemURL" [href]="itemURL">
    <div class="title">{{ item.title }}</div>
  </a>
  <div class="isbn">ISBN: {{ item.ISBN }}</div>
  <div class="author">
    <a target="_blank" class="itemURL" [href]="authorURL">{{ item.author.name }}</a>
  </div>
  <div class="price">{{ item.price === -1 ? '-' : item.price }} Ft</div>
  <div class="date">{{ item.publicationDate | date : 'yyyy.MM.dd.' }}</div>
</div>
